# ============================
# OS FILES
# ============================
.DS_Store
Thumbs.db

# ============================
# NODE / JAVASCRIPT
# ============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Metro / React Native cache
.cache/
metro-cache/
.expo/
.expo-shared/

# TypeScript
*.tsbuildinfo

# ============================
# ENVIRONMENT FILES
# ============================
.env
.env.local
.env.*.local

# ============================
# XCODE / iOS
# ============================
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
vendor/bundle/

# ============================
# ANDROID / INTELLIJ
# ============================
android/app/src/main/jniLibs/
android/app/src/main/obj/
android/.cxx/

build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# APK / AAB / Build Artifacts
*.apk
*.aab
*.ap_
*.dex
*.class
*.so
*.jar
*.war
*.ear
*.db

# ============================
# FASTLANE
# ============================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# ============================
# BUNDLE ARTIFACTS
# ============================
*.jsbundle

# ============================
# METRO HEALTH CHECK
# ============================
.metro-health-check*

# ============================
# TESTING
# ============================
coverage/

# ============================
# YARN (BERRY)
# ============================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ============================
# WATCHMAN
# ============================
.watchmanconfig

# ============================
# VS CODE
# ============================
.vscode/

# ============================
# REANIMATED / WORKLETS
# ============================
react-native-reanimated/plugin.js
react-native-worklets-core/build/
